@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
*{
  margin:0;
  padding:0;
  text-decoration:none;
}
body{
   width: fit-content; 
  font-family:'Poppins', sans-serif;
  padding-right:50px;
background-color: #fff44f;
background-image: linear-gradient(360deg, #fff44f 25%,#f9ff60  50%);
}
.heading{
  text-align: center;
  margin-left: 275px;
  font-size: 22px;
}
img{
  width:80px;
  height:75px;
  padding:0;
  margin: 8px;
  border-radius:5px;
}
.nav{
  position: fixed;
  top:0;
  left: 0;
  width:280px;
  height:100%;
background: radial-gradient(circle at 10% 20%, rgb(69, 86, 102) 0%, rgb(34, 34, 34) 90%);
color: black;
overflow-y:scroll;
scrollbar-width:thin;
list-style:none;

}
.nav-title{
  margin-top:7px;
  padding:5px;
  line-height:50px;
  text-align:center;
  height:40px;
  font-size: 22px;
  font-weight:bold;
  background:linear-gradient(180.3deg, rgba(221, 221, 221,0.7) 5.5%, rgba(110, 136, 161,0.7) 90.2%);

}
.nav a{
  color:white;
  margin-left:8px;
}
.nav-list{
  display: block;
  height:100%;
  width:100%;
  line-height:60px;
}
@media (width < 600px) {
  body{
    font-size:18px;
  }
}


*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background:radial-gradient(circle at 10% 20%, rgb(69, 86, 102) 0%, rgb(34, 34, 34) 90%);
}

*::-webkit-scrollbar-thumb {

background: linear-gradient(315deg,gray 25%, #f5f7fa 64%);
  border-radius: 20px;
 
}

code{
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 10px;
    margin-left: 400px;
    border-radius: 5px;
    width:60%;
    font-size:17px;
    margin-top:25px;
    margin-bottom:25px;
}
.first legend{
  margin-left:-50px;
  padding-bottom:10px;
}
.subtitle{
  margin-left:285px;
  padding-left:30px;
   padding-top:50px;
   margin-bottom:10px;
   font-size:25px;
   font-weight:bold;
   text-decoration:underline 3px;
   text-underline-offset:7px;
}
.desc{
  margin-left:300px;
  padding-left:40px;
  padding-right:15px;
  font-size:18px;
  font-weight:500;
  line-height:2;
}
.first{
  padding-top:20px;
   margin-left:400px;
   padding-right:35px;
   font-size:17px;
   margin-bottom: 20px;
   line-height:2;
}
.second{
  line-height:2;
  padding-top:10px;
   margin-left:50px;
   padding-bottom: 10px;
}
footer{
  padding-top:50px;
  padding-bottom:15px;
  text-align: center;
  font-size:20px;
  margin-left:275px;

}
